    <table class="post-links">
      <th>View posts by</th>
      <tr>	
      	<td>
	      <a href="/posts_by_author/">Author</a>
	      <a href="/posts_by_tag/">Tag</a>
	      <a href="/">Post</a>
        </td>
      </tr>
    <table>   