
    <tr class="post-author">
      <td>
      <span > Created: <%= @post.created_at %></span>
     </td>
    </tr>
    <tr class="post-author">
      <td>
      <span> By <%= @post.author %></span>
     </td>
    </tr>
    <tr class="post-title">  
      <td>
        <%= @post.title %>
      </td>
    </tr>
    <tr>      
      <td><span class="post-body"><%= @post.body %></span> 
      </td>
    </tr> 