    <tr>
      <th>Date Created</th>
      <th>Title</th>
    </tr>
      <% @posts.each do |post| %>
    <tr>
      <td>
        <%= post.created_at %>
        </td>
       <td> <a class="postlinks" href="/post/<%= post.id %>"><%= post.title %> </a>
      </td>
      <% end %>
    </tr>  
      <td></td>
    </tr>




