<div class="container">
  <h1>New Post</h1>

<form name="create" action="/create>" method="POST">
    <class="post-author">
    <br>
    <br>  
    <class="post-author">
      Author Name: <input type="text" name="create[:author]">
      <br>
      <br>
    <class="post-title">   
      Post Title: <input type="text" name="create[:title]">
      <br>
      <br>
      <br>   
      Post Text:
    	<textarea name="body" form="body" rows="20" cols="80">
      </textarea>
  <br>          
  <br>    
  <input class="button" type="submit" value="Save Changes">
  </form>
</div>  