<div class="container">
  <h1>AnonyBlog®</h1>
  <p class="byline">Powered by The Light™</p>
  <p class="micro-byline">Your secrets are safe here</p>
   
  <div id="two-col" class="post-links">
    <%= erb :_posts_links %>
  </div>

  <div id="two-col">
    <form name="create" action="/create" method="GET">
      <input class="button" type="submit" value="Create New Post">
     </form> 
  </div>

<br>
<br>
  <table>
    <%= erb :_view_all_posts %>
  </table>
</div>


      